<section class="flex flex-1 flex-col p-6 w-full">
    <h1 class="text-4xl font-bold text-rose-600 text-center py-8">CATÁLOGO</h1>
    <div class="flex flex-1 lg:flex-row flex-col justify-around ">
        <div class="flex flex-1 flex-col lg:py-0 py-4">
            <h3 class="text-xl font-semibold text-black text-start pb-2">CREATE PRODUCT</h3>
            <div class="flex justify-center align-middle">
                <button class="bg-rose-700 text-white  font-semibold py-2 px-4 rounded">STORE</button>
            </div>
        </div>
        <div class="flex flex-1 flex-col lg:py-0 py-4">
            <h3 class="text-xl  text-black text-start pb-2 font-semibold">LIST OF PRODUCTS</h3>
            <table class="table-auto px-2">
                <thead>
                  <tr class="text-left">
                    <th>Product</th>
                    <th class="text-center">Stock</th>
                  </tr>
                </thead>
                <app-table
                    *ngFor="let productor of products"
                    [producto]="productor.product"
                    [stock]="productor.stock"
                ></app-table>
        </table>
        </div>
    </div>
    <div class="grid grid-flow-row xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 py-12 self-center">
        <app-carta 
            *ngFor="let productor of products"
            [producto]="productor.product"
            [location]="productor.location"
            [stock]="productor.stock"
            [price]="productor.price"
            [img]="productor.img"
            [url]="productor.url"
        ></app-carta>
    </div>
    
</section>